.checkboxSvgDefault {
  fill: #6261B5;
}
.checkboxSvgDefault.checked path:first-of-type {
  display: none;
}
.checkboxwrap input:checked + .checkboxSvgDefault.checked path:last-of-type{
  display: none;
}
.checkboxwrap input:checked + .checkboxSvgDefault.checked path:first-of-type{
  display: block;
}
